.container {
  width: 640px;
  margin: 30px auto;
  padding: 20px 30px;
  background-color: grey;
}

.user-div {
  display: flex;
  margin: 5px 0px;
}

.user-name {
  width: 80%;
  padding: 10px 30px;
  background-color: brown;
}

.user-status {
  width: 20%;
  padding: 10px 30px;
  background-color: chocolate;
}